@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* CSS VARIABLES */

:root {
    --SOFT_ORANGE: hsl(35, 77%, 62%);
    --SOFT_RED: hsl(5, 85%, 63%);
    --OFF_WHITE: hsl(36, 100%, 99%);
    --GRAYISH_BLUE: hsl(233, 8%, 79%);
    --DARK_GRAYISH_BLUE: hsl(236, 13%, 42%);
    --VERY_DARK_BLUE: hsl(240, 100%, 5%);
}

body {
    background: var(--OFF_WHITE);
    min-height: 100vh;
    font-family: "Inter", sans-serif;
    width: 90vw;
    margin: auto;
}
nav {
    display: flex;
    gap: 60rem;
    align-items: center;
    margin-top: 1.7rem;
    width: 100%;
}
.nav_list {
    width: 28%;
}
a {
    text-decoration: none;
    font-family: inherit;
    color: var(--DARK_GRAYISH_BLUE);
}
a:hover {
    color: var(--SOFT_RED);
}
ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.future {
    font-weight: 800;
    color: var(--VERY_DARK_BLUE);
    width: 60%;
    font-size: 2.5rem;
}
.details{
    display: flex;
    flex-direction: column;
    gap: 27px;
}
.details_info {
    font-family: inherit;
    font-size: .89rem;
    color: var(--DARK_GRAYISH_BLUE);
    width: 70%;
}
.details_button {
    width: 150px;
    height: 37px;
    background: var(--SOFT_RED);
    border: none;
    color: var(--VERY_DARK_BLUE);
    font-family: inherit;
    font-weight: 700;
}
.details_button:hover {
    background-color: var(--VERY_DARK_BLUE);
    color: var(--OFF_WHITE);
}

.news_notif {
  background: var(--VERY_DARK_BLUE);
  padding: 1.5rem;
}
.news {
    display:flex;
    flex-direction: column;
    gap: 15px;
}
 .new {
    color: var(--SOFT_ORANGE);
}
.heading {
    color: var(--OFF_WHITE);
    font-size: 1.2rem;
    font-family: inherit;
}
.heading:hover {
    color: var(--SOFT_ORANGE);
}
hr {
    opacity: .5;
}
.news_details {
    color: var(--GRAYISH_BLUE);
    font-family: inherit;
    font-size: .85rem;
    margin-top: 12px;
}
.first_product {
    display: flex;
    gap: 20px;
}
.second_product {
    display: flex;
    gap: 20px;
}
.third_product {
    display: flex;
    gap: 20px;
}
h2 {
    color: var(--SOFT_RED);
    font-family: inherit;
}
h3 {
    color: var(--VERY_DARK_BLUE);
    margin-top: 10px;
}
p {
    color: var(--DARK_GRAYISH_BLUE);
    font-family: inherit;
    font-size: .9rem;
    margin-top: 10px;
}
.news_section {
    display: grid;
    gap: 20px;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four';
    width: (100%, 70rem);
    margin-top: 2rem;
}
.retro_image {
    grid-area: one;
}
.info {
    grid-area: two;
}
.details_section {
    grid-area: three;
}
.news_notif {
    grid-area: four;
}

.product_news {
    margin-top: 2.5rem;
    display: grid;
    width:100%;
    grid-template-areas:
    "one"
    "two"
    "three";
}
.first_product {
    grid-area: one;
}
.second_product {
    grid-area: two;
}
.third_product {
    grid-area: three;
}
.info_details {
    width: 60%;
}
.info_details2 {
    width: 60%;
}
.info_details3 {
    width: 70%;
}

@media (min-width: 800px) {
    .news_section {
        grid-template-areas: 
        'one one four'
        'two three four';
    }
    .product_news {
        grid-template-areas: "one two three";
    }
}